/ .container
/   .row
/     div class="well text-center col-md-8 col-md-offset-2"
/       h1 Galleries
/       ul class="sub-nav text-center"
/         li = link_to "All", "#"
/         li = link_to "Add", "#"
/         li = link_to "Popular", "#"
/         li = link_to "Photos", "#"
/         li = link_to "Tags", "#"
      
/     - @galleries.each do |gallery|
/       div class="well col-md-4 col-md-offset-4 text-center" 
/         h3 = link_to gallery.name, gallery_path(gallery)
/         h5 = gallery.address
/         h6 #{link_to "Like", like_gallery_path(gallery)} #{gallery.get_upvotes.size} #{link_to "Dislike", dislike_gallery_path(gallery)} #{gallery.get_downvotes.size}
/         = image_tag gallery.image.url(:thumb), :class => "thumb-image"

