= image_tag @gallery.image.url(:medium)
h1 = @gallery.name
h2 = @gallery.address

p = link_to "Add a Review", new_gallery_comment_path(@gallery)

p = @comments.each do |comment|
  p = comment.content
  p = comment.user.username