/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import "normalize-rails";
@import "neat";

// components
@import 'variables';
@import 'header';
@import 'navbar';
@import 'galleries';
@import 'dashboard';
@import 'form';
@import 'users';

// major stuffs
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    font-family: 'Lato', 'Arial', sans-serif;
    color: $base-color;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    background-color: #ecf0f1;
}

h1 {
    font-weight: 300;
    text-transform: uppercase;
    margin: 10px 0 0 0;
}

a {
    text-decoration: none;
}
section {
  height: 100vh;
  padding: 80px 0;
}

// .button,
// #gallery_images {
//     background-color: $base-color;
//     border: 1px solid $base-color;
//     color: #fff;
//     margin-right: 15px;
// }


