.title {
  h3 {
    float: left;
    margin-left: 200px;
    margin-bottom: 25px;
    margin-top: 50px;
  }
  @include clearfix()
}

form {
  // border: none;
  textarea {
    // background-color: red;
    height: 150px;
    width: 350px;
  }
  input[type="submit"] {
    display: block;
    margin: 0 auto;
  }

}