.section-galleries-show {
  // @include clearfix();
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

.header {
  padding: 10px;
  margin-bottom: 10px;
}

img {
  height: 100px;
  width: auto;
}

.reviews{

}