.section-galleries-show {
  margin: 0 auto;
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column;
  .title {
    h1 {
      float: left;
      margin-left: 200px;
      margin-bottom: 75px;
      margin-top: 50px;
    }
  }

  @include clearfix()
}


.sub-nav {
  margin-right: 125px;
  margin-top: 30px;
  ul{
    float: right;
    li {
      @include clearfix();
      display: inline-block;
      padding: 15px;
    }
  }
  @include clearfix()
}

.gallery-content {
  background-color: tint($bg-color, 85%);
  margin: 0 25px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: stretch;
  h4 {
    margin-left: -1000px;
    margin-top: 30px;
  }

  .reviews{
    margin: 15px;
    .upvote {
      // float: left;
    }
    .count {
      // float: left;
    }
    .downvote{
      // float: left;
    }
    // @include clearfix()
  }

  .images {
    margin: 15px;
    
  }

  .add-image{
    margin: 15px;
  }

  .tags{
  }
}
// .header {
//   padding: 10px;
//   margin-bottom: 10px;
// }

img {
  height: 100px;
  width: auto;
}
