
.sub-nav-galleries {
  li {
    float: left;
    display: inline-block;
    padding: 15px;
  }

}
.gallery-info {
  margin: 20px;
  @include outer-container(100%);
  
  .gallery-image {
    height: 100px;
    width: auto;
    @include span-columns(4);
  }

  .gallery-name {
    @include span-columns(4);
  }

  .gallery-votes {
    @include span-columns(4);
  }
}

.section-galleries {
  @include clearfix();
  margin: 0 auto;
  text-align: center;
}

.full-row{
  @include span-columns(12)
}