// .sub-nav {
//   li {
//     display: inline;
//     a {
//       padding: 1rem .5rem;
//     }
//   }
//   ul {
//     list-style: none;
//   }
// }

// #gallery-component{
//   display: flex;
//   justify-content: flex-end;
//   flex-direction: row-reverse;
//   .gallery-info{
//     width: 300rem;
//   }
// }

// .image {
//   height: 100px;
// }

.all-gallery-info {
  margin: 20px;
}

.section-galleries {
  @include clearfix();
  margin: 0 auto;
  text-align: center;
}

.full-row{
  @include span-columns(12)
}