.section-galleries-show {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  
  .header {
    display: flex;
    align-content: flex-end;
    margin: 50px 150px;
    
    h1 {
      margin: 0;
      padding: 0;
      flex: 5;
    }

    .sub-nav-gallery-show {
      li {
        display: inline-block;
        padding: 17px 15px 15px 15px;
      }
    }
  }
}

.gallery-content {
  background-color: tint($bg-color, 85%);
  margin: 0 25px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: stretch;
  h4 {
    margin-left: -1000px;
    // margin-top: 30px;
  }

  .reviews-votes{
    margin: 15px;
    // padding: 50px;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // border: 1px solid black;
    .votes {
      // border: 2px solid blue;
      float: left;
      margin-left: 80px;

    }

    .reviews {
      // border: 2px dashed red;
      height: 150px;
      
    }
    @include clearfix()

  }

  .images {
    margin: 15px;
    height: 175px;
    img {
      float: left;
      margin-right: 25px;
      margin-left: 150px;
      margin-top: 25px;
    }
    
  }

  .add-image{
    margin: 15px;
  }

  .tags{
  }
}

.vote {

}

img {
  height: 100px;
  width: auto;
}
