.section-profile {
  // @include clearfix();
  margin: 0 auto;
  text-align: center;
  padding: 0;
}



.sub-nav {
  li {
    display: inline;
    a {
      padding: 1rem .5rem;
    }
  }
  ul {
    list-style: none;
  }
}